@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.autocomplete {
  position: absolute;
  padding: 0.25rem 0;
  background-color: #fff;
  list-style: none;
  margin: 0;
  width: calc(100% - var(--bs-gutter-x));
  border: 1px solid #adafb1;
  border-radius: 4px;
  color: #212529;
  font-size: 1rem;
  user-select: none;
}
.autocomplete li {
  padding: 0 0.75rem;
  width: 100%;
  display: block;
  border-radius: 4px;
  cursor: pointer;
}
.autocomplete li:hover,
.autocomplete li.active {
  background-color: rgb(231, 231, 231);
}

a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus-visible {
  text-decoration: underline;
}

td.numeric {
  font-variant-numeric: tabular-nums;
  text-align: right;
}
td.status-open span,
td.status-closed span,
td.status-pending span,
td.status-resolved span,
td.status-waiting-for-issuer span,
td.status-waiting-for-external span,
td.status-needs-attention span {
  border-radius: 4px;
  padding: 0 4px 4px 4px;
  font-weight: 500;
}
td.status-open span {
  background-color: orange;
}
td.status-pending span {
  background-color: aqua;
}
td.status-resolved span {
  background-color: green;
  color: #fff;
}
td.status-waiting-for-issuer span {
  background-color: blue;
  color: #fff;
}
td.status-waiting-for-external span {
  background-color: yellow;
}
td.status-needs-attention span {
  background-color: red;
  color: #fff;
}
td.status-closed span {
  background-color: gray;
  color: #fff;
}

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  background: var(--color-canvas-default);
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p.subtitle,
p.subtitle-2,
p.body {
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 48px;
}
h2 {
  font-size: 40px;
  line-height: 40px;
}
h3 {
  font-size: 36px;
  line-height: 36px;
}
h4 {
  font-size: 32px;
  line-height: 32px;
}
h5 {
  font-size: 30px;
  line-height: 30px;
}
h6 {
  font-size: 28px;
  line-height: 28px;
}
p.subtitle {
  font-size: 24px;
  line-height: 24px;
}
p.subtitle-2 {
  font-size: 20px;
  line-height: 20px;
}
p.body {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  border-spacing: 0;
}
table.medium span {
  padding-top: 6px;
  padding-bottom: 6px;
}
table thead {
}
table th {
  padding: 0;
}
table th:first-of-type > div {
  border-left: 1px solid var(--color-border-default);
  border-top-left-radius: 8px;
}
table th:last-of-type > div {
  border-right: 1px solid var(--color-border-default);
  border-top-right-radius: 8px;
}
table th > div {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-border-default);
  background-color: var(--color-canvas-subtle);
  position: relative;
}
table thead .buttons {
  margin: 0 6px;
}
table thead .buttons button {
  padding: 0;
  margin-right: 6px;
  min-width: 12px;
}
table thead .buttons button:last-of-type {
  margin: 0;
}
table thead span,
table tbody span {
  margin-left: 6px;
}
table tr,
table tbody td > div {
  height: 20px;
}
table.medium tr,
table.medium tbody td > div {
  height: 32px;
}
table.big tr,
table.big tbody td > div {
  height: 48px;
}
table tbody td {
  padding: 0;
  height: max-content;
}
table tbody td > div {
  border-top: 1px solid var(--color-border-default);
  display: flex;
  justify-content: left;
}
table tbody td:first-of-type > div {
  border-left: 1px solid var(--color-border-default);
}
table tbody td:last-of-type > div {
  border-right: 1px solid var(--color-border-default);
}
table tbody tr:last-of-type td:first-of-type > div {
  border-bottom-left-radius: 8px;
}
table tbody tr:last-of-type td:last-of-type > div {
  border-bottom-right-radius: 8px;
}
table tbody tr:last-of-type td > div {
  border-bottom: 1px solid var(--color-border-default);
}
table tbody span {
  margin-right: 6px;
}
table tbody .right {
  justify-content: right;
  font-variant-numeric: tabular-nums;
}
.dropdown {
  position: absolute;
}

.form-control {
  background-color: var(--color-canvas-subtle);
  border: 1px solid var(--color-border-default);
  width: 358px;
  height: 46px;
  border-radius: 8px;
  font-size: 24px;
  line-height: 24px;
  padding: 0 12px;
  outline: none;
}
.form-control:disabled {
  background-color: var(--color-scale-gray-1);
  border-color: var(--color-scale-gray-3);
}
label.invalid .form-control {
  border-color: var(--color-danger-fg);
  box-shadow: var(--box-shadow-input-invalid);
}
.form-control:focus-visible {
  border-color: var(--color-focus-default);
  box-shadow: var(--box-shadow-input-focus);
}

.link {
  border: none;
  background: none;
  color: rgb(0, 89, 255);
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.link:focus,
.link:hover {
  text-decoration: underline;
}
button {
  cursor: pointer;
}
.btn {
  color: black;
}
button.icon {
  background: none;
  border: none;
}

.btn-error {
  background-color: var(--error-color);
  color: white;
  border-radius: 4px;
  border: 1px solid rgb(169, 169, 169);
  padding: 5px;
  font-weight: bold;
}

.color-error {
  color: var(--error-color);
}

.color-warning {
  color: var(--warning-color);
}

.color-success {
  color: var(--success-color);
}

.color-info {
  color: var(--info-color);
}

.color-gray {
  color: grey;
}

.flex {
  display: flex;
}
.flex-gap {
  gap: 8px;
}

ul {
  list-style: none;
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul.inline {
  display: inline-block;
}
ul.inline > li {
  display: inline-block;
}

.center-verical {
  display: flex;
  align-items: center;
}

.user-settings-developer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.api-key-list {
  width: 80%;
}

.api-key:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.api-key:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.api-key {
  padding: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-bottom: none;
  background: rgb(232, 232, 232);
}

.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}
.col-8 {
  width: 80%;
}
.col-9 {
  width: 90%;
}
.col-10 {
  width: 100%;
}

.bold {
  font-weight: bold;
}
.scope {
  display: flex;
  width: 100%;
  justify-content: center;
}
ul.scopes {
  margin-left: 20px;
}
ul.scopes li .scope div {
  width: calc(50% - 20px);
}
.margin-5em {
  margin: 5em;
  width: calc(100% - 10em);
}
*/
